--rotation-angle: 0deg;

* {
  box-sizing: border-box;
}

body {
  background: #F1F1F4;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

input[type=search] {
  width: 50%;
  height: 3rem;
  border: solid 2px #DDDDDD;
  border-radius: 5px;
  padding: 1rem;
}

main {
  max-width: 875px;
  margin: 2rem auto;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20ch), 1fr));
  grid-auto-rows: auto;
  gap: 50px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid white;
  border-width: 5px 5px 30px 5px;
  z-index: 0;
  position: relative;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  transform: rotate(var(--rotation-angle));
  transition: transform .3s ease-in-out,
              box-shadow .3s ease-in-out,
              z-index .3s ease-in-out;
}

.gallery img:hover {
transform: rotate(0deg) scale(1.4);
box-shadow: 0px 5px 26px 16px rgba(0,0,0,0.1);
z-index: 1;
position: relative;
}
